<!DOCTYPE html>

<html lang="en">
    <body th:fragment="bodyHeader">
        <div class="containter navbar">
            <div class="container cisis">
                <img style="vertical-align: bottum; float:left " th:src="@{/resources/images/logoHeader.png}" 
                     src="../../../resources/images/logoHeader.png" /><h1>HC<small>&nbsp;Canes Camps</small></h1>
            </div>

            <div class="navbar-inner" >
                <ul  class="nav">

                    <li class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Registration
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/" th:href="@{/registration/list}"><i class="icon-th-list"></i>Add Registration</a></li>                            
                        </ul>
                    </li>
                </ul>
                <ul  class="nav">
                    <li class="dropdown" id="menuResource2">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources2">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Camps
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/" th:href="@{/camp/list}"><i class="icon-th-list"></i>View Camps</a></li>                                                     
                        </ul>
                    </li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../other/help" th:href="@{/other/help}"><i class="icon-question-sign"></i>Help</a></li>
                    <li class="divider"></li>
                    <li><a href="../other/about" th:href="@{/other/about}"><i class="icon-log-out"></i>About</a></li>
                </ul>
            </div>
        </div>
    </body>

</html>